.page-title, .big-title{
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 600;
}


.big-title {
    font-size: 42px;
    font-weight: 600;
}

.text-mid{
    font-size: 30px;
    font-weight: 600;
}

.text-mid-sub{
    font-size: 24px;
    // font-weight: 600;
}

.text-p{
    font-size: 18px;
    color: #808080;
    font-weight: 400;
}

.text-16{
    font-size : 16px !important;
}

.btn.btn-default.btn-sm{
    height: 24px;
    width: 24px;
    border: 1px solid #dfdfdf;
    border-radius: 0px;
    color: #808080;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn-default.btn-sm:hover{
    background-color: #dfdfdf;
}